@media all and (min-width:740px) and (max-width: 1024px)
{

    *{
        font-size:12px;
    }
.menu{
    margin-left: 50px;
    position: relative;
    display: inline-block;
    width: 70%;
    top:-50px;
    left: 25%;
    
}

    
.logo{
    margin-left: 3%;
    background-color: white;
    display: inline-block;
    position: relative;
    top:20px;
    width: 100%;
    height:5% ;
}  
    

.block1{
    display:inline-block;
    width: 5%;
    height: 5%;
}

.block2{
    margin-left:395px;
    display:inline-block;
    height: 100%;
    
}


  
#svg1{
   margin-left:-15px;
   display: flex;
   width: 15px;
   height: 15px;
 
}
    
#svg2{
    margin-left:-15px;
    display: flex;
    width: 15px;
    height: 15px;
}


#svg3{
    margin-left:-15px;
    display: flex;
    width: 15px;
    height: 15px;
}
    



    
.navigation{
    position: relative;
    text-align: center;
    display: block;
    margin: auto;
    border-width: 25px;
    width: 455px;
    height: 100px;
    
}
.vignette{
    margin:auto;
    width: 200px;
    height: 170px;
    
}

.bandeau{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    display: block ;
    background: rgba(0,0,0,0.5);
    color: #fff;
    opacity: 0;
    transition: all 0.3s ease;
    width: 195px;
    height: 61px;
    margin: -65px;
    margin-left: 0px;
    padding: 0px 2px;
    
}
    
.eye{
    width:20px;
    height: 20px;
    padding: 5px;
    position: relative;
    top:-15px;
    left: 75%;
    border: solid 2px white;
    color: white;
    background-color: #5cadd3;
    border-radius: 55px 55px;
    
}
    
form{
    
    background-color:rgba(242, 246, 248, 0.65);
    padding-left: 15px;
    width: 245px;
    height: 460px;
    border:none;
    display: inline-block;
}
    
.contact{
    position: relative;
    display: inline-block;
    top: -80px;
    margin-left:60%;
    
}
    
}

